<%= form_with(model: link, url: "/", method: :post) do |form| %>

  <div id="link_data" >
    <%= form.label :url, style: "display: block", id: "link_label" %>
    <%= form.text_field :url %>
    <%= form.submit value: "C", id: "link_submit" %>
  </div>

  <% if !link.shortened.nil? %>
    <div>
      <p style="color: green"><%= @notice %><%= link.shortened %></p>
    </div>
  <% end %>

  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
