<%= form_with(model: link, url: "/", method: :post) do |form| %>

  <div id="link_data" >
    <%= form.label :url, style: "display: block", id: "link_label" %>
    <%= form.text_field :url %><%= form.submit value: "C", id: "link_submit" %>
  </div>

  <% if !link.shortened.nil? %>
    <div data-controller="clipboard">
      <p id="link_message" style="color: green"><%= notice %><a id="link_generated" href="<%= request.base_url + "/" + link.shortened %>" target="_blank"><%= request.base_url + "/" + link.shortened %></a></p>
      <%= image_tag "copy.png", alt: "Copiar link", id: "link_copy", size: "16x16", data: { action: "click->clipboard#copyToClipboard" }  %>
    </div>
  <% end %>

  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
